.imagem {
  max-width: 100%;
  width: 600px;
}
.texto {
  width: 439px;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #00a857;
}
.frase {
  width: 89px;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.classe {
  width: 453px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.icones {
  width: 317px;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}
.icon {
  width: 56px;
}
div {
  background-color: black;
  width: 600px;
}
.branco {
  width: 540px;
}
.debaixo {
  width: 600px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #00a857;
}
.cor {
  font-weight: bold;
}
.textao {
  background: #f5f5f5;
  width: 474px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 12px;
  color: #4a4b4a;
  line-height: 20px;
}
.final {
  width: 57px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: underline;
  color: #b2b2b2;
}
.span {
  font-weight: bold;
}
.gif {
  width: 600px;
}
div .white {
  background-color: white;
  width: 600px;
}
.estilo {
  width: 25px;
}
.negrito{
    font-weight: bold;
}
